@import '../../misc/variables.scss';
@import '../../misc/mixin.scss';

.app_header {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  height: 70px;
  flex: 0 0 70px;
  align-items: center;

  &__logo {
    display: none;
    height: 40px;
    position: relative;

    @include for-specific-size(1300px) {
      display: block;
    }

    &:before {
      z-index: 0;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: .8;
      background: var(--main-design-color);
      content: '';
      filter: blur(30px);
    }

    img {
      height: 100%;
    }
  }

  &__title {
    text-transform: capitalize;
    font-size: 1.4em;
    color: white;

    &[data-mobile = true] {
      display: none;

      @include for-specific-size(1300px) {
        display: block;
      }
    }
    &[data-mobile = false] {
      @include for-specific-size(1300px) {
        display: none;
      }
    }
  }

  &__account_data {
    margin-left: auto;
    display: flex;
    column-gap: 20px;

    &__wallet_balance, &__profile_menu {
      background: var(--light-bg-color);
      padding: 4px 10px;
      display: flex;
      border-radius: 8px;
      align-items: center;
      cursor: pointer;
      transition: .3s all;

      &:hover {
        background: var(--additional-bg-color);
      }
    }

    &__wallet_balance {
      &[data-mobile=false] {
        display: flex;

        @include for-specific-size(1300px) {
          display: none;
        }
      }

      &[data-mobile=true] {
        display: none;

        @include for-specific-size(1300px) {
          display: flex;
          border-radius: 8px !important;
          font-size: .9em;
          padding: 12px;
          justify-content: space-between;
        }
      }

      svg {
        color: var(--light-text-color);
        height: 1.5em;
        width: 1.5em;
      }

      &__data {
        margin-right: 8px;
        display: flex;
        flex-direction: column;

        small {
          font-size: .7em;
          color: var(--light-text-color);
          margin-bottom: 4px;
        }

        &__numbers {
          column-gap: 30px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          color: white;
          font-size: 0.9em;
        }
      }
    }

    &__profile_menu {
      position: relative;

      &__header {
        display: flex;
        align-items: center;
        color: white;

        img {
          height: 1.8em;
          @include for-specific-size(1300px) {
            margin-right: 7px;
          }
        }

        span {
          margin-right: 14px;
          margin-left: 12px;
          font-size: 1em;

          @include for-specific-size(1300px) {
            display: none;
          }
        }

        svg {
          height: .8em;
          width: 0.8em;
          color: var(--light-text-color)
        }
      }

      &__content {
        width: 100%;
        left: 0;
        padding-top: 8px;
        top: 100%;
        position: absolute;
        z-index: 1;
        display: none;

        @include for-specific-size(1300px) {
          padding-top: 0;
          position: fixed;
          top: 60px;
          left: 0;
          width: 100%;
          height: calc(100% - 70px);
          background: var(--main-bg-color);
        }

        &[data-open=true] {
          display: block;
        }

        &__buttons {
          display: flex;
          flex-direction: column;
          border-radius: 8px;
          background: var(--light-bg-color);

          @include for-specific-size(1300px) {
            border-radius: 0;
            padding: 30px;
            row-gap: 40px;
            background: none;
          }

          button {
            border-radius: inherit;
          }

          button, a {
            padding: 12px;
            background: none;
            text-decoration: none;
            display: flex;
            align-items: center;
            box-shadow: none;
            color: white;
            font-size: .8em;
            border-radius: 0;

            @include for-specific-size(1300px) {
              background: var(--light-bg-color);
              border-radius: 8px !important;
              font-size: .9em;
            }

            &:hover {
              background: var(--additional-bg-color);
            }
          }

          svg {
            margin-right: 10px;
            color: var(--light-text-color);
            height: 1.4em;
            width: 1.4em;
          }

          a {
            border-top: 1px solid var(--light-text-color);
            border-bottom: 1px solid var(--light-text-color);

            @include for-specific-size(1300px) {
              border-top: 1px solid transparent;
              border-bottom: 1px solid transparent;
            }
          }
        }
      }
    }
  }

  &__burger_button {
    display: none;
    background: var(--additional-bg-color);
    box-shadow: none;
    padding: 8px;

    svg {
      height: 2em;
      width: 2em;
      color: var(--main-design-color);
    }

    @include for-specific-size(1300px) {
      display: block;
    }
  }
}